@charset "UTF-8";

#question-container {
	width: 90%;
	box-sizing: border-box;
	margin: 0 auto;
	position: relative;
}

#checked-section {
	width: 100%;
	margin-bottom: 10px;
}

input[name="checked_info"] {
	display: inline-block;
	margin-right: 5px;
}

#list-section {
	height: auto;
}

#search-section {
	width: 100%;
    margin: 0 auto 8px auto;
    box-sizing: border-box;
    padding: 7px 15px 10px 15px;
    border: 1px solid #dadada;
    cursor: text;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
	transition: all .2s ease;
}

#search-section::after {
	content: '';
	display: block;
	clear: both;
}

#search-section #search-input {
	width: 95%;
	float: left;
	border: 0;
}

#search-section #search-input:focus {
	outline: none;
}

#search-section #search-button {
	width: 5%;
	float: right;
	display: block;
	position: relative;
	border: 0;
	outline: none;
	color: #dadada;
	background-color: transparent;
	-webkit-transition: background-color .2s ease;
    -moz-transition: background-color .2s ease;
    -o-transition: background-color .2s ease;
	transition: background-color .2s ease;
}

.fas.fa-search {
	float: right;
	line-height: 24px;
}

.focus {
	border-radius: 10px;
	box-shadow: 0 2px 6px 0 rgb(61 80 81 / 8%);
}

.list-tuple {
	-webkit-transition: background-color .2s ease;
    -moz-transition: background-color .2s ease;
    -o-transition: background-color .2s ease;
	transition: background-color .2s ease;
}

.list-tuple:hover {
	background-color: #dadada;
}

.no-item {
	width: 5%;
	text-align: center;
}

.customer-item {
	width: 10%;
}

.title-item {
	width: 70%;
}

.status-item {
	width: 10%;
}

.answer-item {
	width: 5%;
	text-align: center;
}

@media(max-width : 768px) {
	.no-item {
		width: 15%;
	}

	.customer-item {
		display: none;
	}

	.title-item {
		width: 85%;
	}
	
	.status-item {
		display: none;
	}

	.answer-item {
		display: none;
	}
}
	