<!-- loading -->
<div class="wrap-loading display-none">
	<div id="loading"></div>
</div>

<!-- modal -->
<div id="modal-wrapper">
	<div id="modal">
		<div id="modal-status-bar">
			<div id="exit-button">
				<i class="fas fa-times exit-click"></i>
			</div>
		</div>
		<div id="modal-contents"></div>
		<div id="modal-buttons">
			<div class="common-button" id="change-id">확인</div>
			<div class="common-button exit-click">취소</div>
		</div>
	</div>
</div>